@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.font-special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

a[aria-current="page"] {
    color: theme('colors.teal.600');
}

/* Markdown-specific styles */
.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
    font-family: "Special Elite", system-ui;
    color: theme('colors.teal.600');
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.prose p {
    font-family: sans-serif;
    line-height: 1.75;
    margin-bottom: 1.25rem;
}

.prose a {
    color: theme('colors.teal.600');
    text-decoration: underline;
}

.prose ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 1.25rem; /* Add spacing below lists */
}

.prose li {
    font-family: "Special Elite", system-ui;
    color: theme('colors.gray.700');
    margin-bottom: 0.5rem;
}

.dark .prose li {
    color: theme('colors.gray.300'); /* Dark mode list item color */
}